@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space Mono;
    overflow: hidden;
}

#btn {
    position: absolute;
    top: 12px;
    background-color: hotpink;
    cursor: pointer;
}

#btn:hover {
    animation: anim 1s ease infinite;
}

@keyframes anim {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

#rng {
    position: absolute;
    right: 50px;
    top: 20px;
}

#txt {
    position: absolute;
    right: 200px;
    top: 15px;
}